@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;1,200;1,600&display=swap');
main{
    background-color: white;
    position: relative;
    width: 100%;
    height: 100vh;
}
.menu{
    box-sizing: border-box;
    position: absolute;
    width: 8%;
    height: 852px;
    left: 57px;
    top: 43px;
    background: #0C0B0B;
    border-radius: 24px;
}
.menu div a{
    padding: 30%;
    width: 51px;
    height: 102px;
    left: 99.12px;
    top: 58.65px;
    line-height: 102px;
}
.menu div a{
    size: 100%;
}

.menuheader{
    position: absolute;
    width: 1095px;
    height: 111px;
    left: 243px;
    top: 43px;
}
.menuheader h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 63px;
}
.menuheader hr{
    width: 134px;
    height: 5px;
    left: 243px;
    top: 106px;
    
    background: #d4863d;
    
}
.menuitem{
    position: absolute;
    margin-top: 23px;
    width: 1195px;
    height: 652px;
    left: 243px;
    top: 154px;
    display: flex;
}
.cartlist{
    padding: 30px 30px;
    width: 608px;
    height: 612px;
    left: 244px;
    top: 135px;
    background: #F1D5BB;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 608px;
    gap: 58px;
}
.cartlist div{
    height: 90px;
    left: 264px;
    top: 172px;
    font-family: mulish;
}
.rowlist{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    
}
.rowlist aside{
    display: inline-block;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}
.middle{
    background-color: white;
    padding: 5px 10px;
}
.plus{
    padding-left: 10px;
}
.minus{
    padding-right: 10px;
}
.text{
    margin-top: 10px;
    font-weight: 900;
}
.text span a{
    text-decoration: none;
    color: #000000;
}
.sidebarcart{
    width: 443px;
    height: 575px;
    left: 893px;
    top: 135px;
    margin-left: 40px;
}
.subtotal{
    width: 443px;
    height: 286px;
    left: 893px;
    top: 135px;
    background: #F1D5BB;
    border-radius: 3px;
    padding: 30px;
    font-family: 'Mulish';
    font-style: normal;
}
.subtotal h2{
    width: 249px;
    height: 50px;
    left: 933px;
    top: 157px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 40px;
}
.subtotal h3 p{
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 20px;
}
.subtotal a{
    display: block;
    text-decoration: none;
    width: 365px;
    height: 78px;
    left: 933px;
    top: 313px;
    text-align: center;
    justify-content: center;
    background: #000000;
    color: white;
    padding: 20px;
    border-radius: 10px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
}
.subtotal a:hover{
    transition: 0.5s;
    background: #F1D5BB;
    color: rgb(15, 14, 14);
    border: 2px solid black;
}
.promocode{
    box-sizing: border-box;
    width: 443px;
    height: 326px;
    left: 893px;
    top: 417px;
    border: 1px solid #F1D5BB;
    padding: 30px;
}
.promocode h2{
    width: 227px;
    height: 50px;
    left: 933px;
    top: 449px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;

    color: #000000;
}
.promocode input{
    box-sizing: border-box;
    width: 365px;
    height: 78px;
    left: 933px;
    top: 524px;
    padding: 20px;
    font-family: mulish;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 38px;
    background: #FFFFFF;
    border: 1px solid #F1D5BB;
}
.promocode a{
    width: 166px;
    height: 78px;
    left: 933px;
    top: 632px;
    display: block;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    background: #000000;
    color: white;
    padding: 20px;
    border-radius: 10px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    margin-top: 30px;

    background: #000000;
}
.promocode a:hover{
    transition: 0.5s;
    background: #F1D5BB;
    color: rgb(15, 14, 14);
}
footer{
    position: absolute;
    width: 250px;
    height: 19px;
    left: 244px;
    top: 951px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}
footer p{
    height: 50px;
}